@media screen and (max-width: 1439px) {
    .card {
        margin: -650px 70px 0 370px;
    }

    .card-item {
        margin: 0 3px 37px 4.1vw;
    }

    .card-item img {
        width: 160px;
        height: 180px;
    }

    .text-center {
        width: 145px;
    }

}
@media screen and (max-width: 1370px) {
    .card {
        margin: -650px 70px 0 370px;
    }

    .card-item {
        margin: 0 3px 37px 3.1vw;
    }

    .card-item img {
        width: 160px;
        height: 180px;
    }

    .text-center {
        width: 145px;
    }

}
@media screen and (max-width: 1300px) {
    .card {
        margin: -730px 70px 0 370px;
    }

    .card-item {
        margin: 0 3px 37px 2vw;
    }

    .card-item img {
        width: 160px;
        height: 180px;
    }

    .text-center {
        width: 140px;
    }

}
@media screen and (max-width: 1250px) {
    .card {
        margin: -700px 70px 0 370px;
    }

    .card-item {
        margin: 0 3px 37px 5.5vw;
    }

    .card-item img {
        width: 160px;
        height: 180px;
    }

    .text-center {
        width: 145px;
    }

}

@media screen and (max-width: 1191px) {
    .product-details {
        gap: 19px;
        margin: 32px 14px 0 19px;
    }

    .slider {
        margin: 3vh 5vw;
    }

    .card {
        margin: -700px 70px 0 350px;
    }

    .card-item {
        margin: 0 3px 37px 3.5vw;
    }

    .card-item img {
        width: 160px;
        height: 180px;
    }

    .text-center {
        width: 140px;
    }

}

@media screen and (max-width: 1050px) {
    .product-details {
        gap: 19px;
        margin: 32px 14px 0 19px;
    }

    .slider {
        margin: 3vh 5vw;
    }

    .card {
        margin: -700px 70px 0 350px;
    }

    .card-item {
        margin: 0 3px 37px 3vw;
    }

    .card-item img {
        width: 150px;
        height: 170px;
    }

    .text-center {
        width: 132px;
    }

}

@media screen and (max-width: 980px) {
    .search {
        margin: 0 0 0 37vw;
    }

    .slider img {
        height: 27vh;
    }

    .product-view {
        flex-direction: column;
    }

    .product-img img {
        width: 34rem;
        height: 37rem;
    }

    .product-details {
        gap: 19px;
        margin: 32px 14px 0 23px;
    }

    .left-slider-wrapper {
        padding: 19px 16px 30px 30px;
    }

    .card {
        margin: -790px 70px 0 350px;
    }

    .card-item {
        margin: 0 5px 37px 3vw;
    }

    .card-item img {
        width: 130px;
        height: 150px;
    }

    .text-center {
        width: 114px;
    }

}

@media screen and (max-width: 930px) {
    .left-slider-wrapper {
        padding: 19px 16px 30px 30px;
    }

    .card {
        margin: -690px 70px 0 350px;
    }

    .card-item {
        margin: 0 5px 37px 5.3vw;
    }

    .card-item img {
        width: 160px;
        height: 180px;
    }

    .text-center {
        width: 145px;
    }
}

@media screen and (max-width: 880px) {
    .left-slider-wrapper {
        padding: 19px 16px 30px 30px;
    }

    .card {
        margin: -690px 70px 0 350px;
    }

    .card-item {
        margin: 0 5px 37px 3.5vw;
    }

    .card-item img {
        width: 160px;
        height: 180px;
    }

    .text-center {
        width: 145px;
    }
}

@media screen and (max-width: 830px) {
    .left-slider-wrapper {
        display: none;
    }

    .card {
        margin: 0 0 0 19px;
    }

    .card-item {
        margin: 0 5px 37px 5vw;
    }

    .card-item img {
        width: 160px;
        height: 180px;
    }

    .text-center {
        width: 145px;
    }
}

@media screen and (max-width: 780px) {
    .card {
        margin: 0 0 0 19px;
    }

    .card-item {
        margin: 0 5px 37px 3.3vw;
    }

    .card-item img {
        width: 160px;
        height: 180px;
    }

    .text-center {
        width: 145px;
    }
}

@media screen and (max-width: 730px) {
    .card {
        margin: 0 0 0 19px;
    }

    .card-item {
        margin: 0 5px 37px 3.9vw;
    }

    .card-item img {
        width: 150px;
        height: 170px;
    }

    .text-center {
        width: 134px;
    }
}

@media screen and (max-width: 680px) {
    .search {
        margin: 0 0 0 28vw;
    }

    .left-slider-wrapper {
        display: none;
    }

    .slider img {
        height: 25vh;
    }

    .product-view {
        flex-direction: column;
    }

    .product-img img {
        width: 27rem;
        height: 30rem;
    }

    .product-details {
        gap: 19px;
        margin: 32px 14px 0 23px;
    }

    .product-details h1 {
        font-size: 2rem;
        color: #222;
    }

    .card {
        margin: 0 0 0 19px;
    }

    .card-item {
        margin: 0 5px 37px 3vw;
    }

    .card-item img {
        width: 145px;
        height: 165px;
    }

    .text-center {
        width: 127px;
    }

}

@media screen and (max-width: 630px) {
    .search {
        margin: 0 0 0 28vw;
    }

    .left-slider-wrapper {
        display: none;
    }

    .slider img {
        height: 25vh;
    }

    .product-view {
        flex-direction: column;
    }

    .product-img img {
        width: 27rem;
        height: 30rem;
    }

    .product-details {
        gap: 19px;
        margin: 32px 14px 0 23px;
    }

    .product-details h1 {
        font-size: 2rem;
        color: #222;
    }

    .card {
        margin: 0 0 0 19px;
    }

    .card-item {
        margin: 0 5px 37px 3vw;
    }

    .card-item img {
        width: 135px;
        height: 155px;
    }

    .text-center {
        width: 121px;
    }

}

@media screen and (max-width: 608px) {
    .search {
        margin: 0 0 0 28vw;
    }

    .left-slider-wrapper {
        display: none;
    }

    .slider img {
        height: 25vh;
    }

    .product-view {
        flex-direction: column;
    }

    .product-img img {
        width: 27rem;
        height: 30rem;
    }

    .product-details {
        gap: 19px;
        margin: 32px 14px 0 23px;
    }

    .product-details h1 {
        font-size: 2rem;
        color: #222;
    }

    .card {
        margin: 0 0 0 19px;
    }

    .card-item {
        margin: 0 5px 37px 3vw;
    }

    .card-item img {
        width: 130px;
        height: 150px;
    }

    .text-center {
        width: 114px;
    }

}

@media screen and (max-width: 580px) {
    .search {
        margin: 0 0 0 28vw;
    }

    .left-slider-wrapper {
        display: none;
    }

    .slider img {
        height: 25vh;
    }

    .product-view {
        flex-direction: column;
    }

    .product-img img {
        width: 27rem;
        height: 30rem;
    }

    .product-details {
        gap: 19px;
        margin: 32px 14px 0 23px;
    }

    .product-details h1 {
        font-size: 2rem;
        color: #222;
    }

    .card {
        margin: 0 0 0 23px;
    }

    .card-item {
        margin: 0 5px 37px 7.5vw;
    }

    .card-item img {
        width: 160px;
        height: 180px;
    }

    .text-center {
        width: 145px;
    }

}

@media screen and (max-width: 530px) {
    .search {
        margin: 0 0 0 18vw;
    }

    .slider img {
        height: 25vh;
    }

    .product-img img {
        width: 25rem;
        height: 30rem;
    }

    .product-details {
        gap: 19px;
        margin: 32px 14px 0 23px;
    }

    .product-details h1 {
        font-size: 2rem;
        color: #222;
    }

    .card {
        margin: 0 0 0 23px;
    }

    .card-item {
        margin: 0 5px 37px 6.3vw;
    }

    .card-item img {
        width: 160px;
        height: 180px;
    }

    .text-center {
        width: 145px;
    }

}

@media screen and (max-width: 480px) {
    .search {
        margin: 0 0 0 18vw;
    }

    .slider img {
        height: 25vh;
    }

    .product-img img {
        width: 21.9rem;
        height: 25rem;
    }

    .product-details {
        gap: 19px;
        margin: 32px 14px 0 23px;
    }

    .product-details h1 {
        font-size: 2rem;
        color: #222;
    }

    .card {
        margin: 0 0 0 19px;
    }

    .card-item {
        margin: 0 5px 37px 5.6vw;
    }

    .card-item img {
        width: 150px;
        height: 170px;
    }

    .text-center {
        width: 135px;
    }

}

@media screen and (max-width: 455px) {
    .search {
        margin: 0 0 0 18vw;
    }

    .slider img {
        height: 27vh;
    }

    .product-img img {
        width: 21.5rem;
        height: 25rem;
    }

    .product-details {
        gap: 19px;
        margin: 32px 14px 0 23px;
    }

    .product-details h1 {
        font-size: 2rem;
        color: #222;
    }

    .card {
        margin: 0 0 0 19px;
    }

    .card-item {
        margin: 0 5px 37px 5.6vw;
    }

    .card-item img {
        width: 140px;
        height: 160px;
    }

    .text-center {
        width: 123px;
    }

}

@media screen and (max-width: 430px) {
    .search {
        margin: 0 0 0 18vw;
    }

    .slider img {
        height: 27vh;
    }

    .product-img img {
        width: 21.5rem;
        height: 25rem;
    }

    .product-details {
        gap: 19px;
        margin: 32px 14px 0 23px;
    }

    .product-details h1 {
        font-size: 2rem;
        color: #222;
    }

    .card {
        margin: 0 0 0 19px;
    }

    .card-item {
        margin: 0 5px 37px 5.2vw;
    }

    .card-item img {
        width: 135px;
        height: 155px;
    }

    .text-center {
        width: 119px;
    }

}

@media screen and (max-width: 412px) {
    .search {
        margin: 0 0 0 18vw;
    }

    .slider img {
        height: 27vh;
    }

    .product-img img {
        width: 21.5rem;
        height: 25rem;
    }

    .product-details {
        gap: 19px;
        margin: 32px 14px 0 23px;
    }

    .product-details h1 {
        font-size: 2rem;
        color: #222;
    }

    .card {
        margin: 0 0 0 19px;
    }

    .card-item {
        margin: 0 5px 37px 4.1vw;
    }

    .card-item img {
        width: 135px;
        height: 155px;
    }

    .text-center {
        width: 119px;
    }

}

@media screen and (max-width: 390px) {
    .search {
        margin: 0 0 0 7vw;
    }

    .product-img img {
        width: 20.3rem;
        height: 23rem;
    }

    .product-details {
        gap: 19px;
        margin: 32px 14px 0 23px;
    }

    .product-details h1 {
        font-size: 2rem;
        color: #222;
    }

    .card {
        margin: 0 0 0 19px;
    }

    .card-item {
        margin: 0 5px 37px 3vw;
    }

    .card-item img {
        width: 130px;
        height: 150px;
    }

    .text-center {
        width: 114px;
    }

}