@media screen and (max-width: 1920px) {
    .card {
        margin-top: -88vh;
    }

    .card-item {
        margin: 14px auto;
    }

    .card-item img {
        width: 160px;
        height: 180px;
    }

    .text-center {
        width: 143px;
    }

}

@media screen and (max-width: 1280px) {
    .product-details {
        gap: 19px;
        margin: 32px 14px 0 19px;
    }

    .slider {
        margin: 3vh 5vw;
    }

    .card {
        margin-top: -88vh;
    }

    .card-item {
        margin: 14px auto;
    }

    .card-item img {
        width: 160px;
        height: 180px;
    }

    .text-center {
        width: 143px;
    }

}

@media screen and (max-width: 1080px) {
    .product-details {
        gap: 19px;
        margin: 32px 14px 0 19px;
    }

    .slider {
        margin: 3vh 5vw;
    }

    .card {
        margin-top: -88vh;
    }

    .card-item {
        margin: 14px auto;
    }

    .card-item img {
        width: 160px;
        height: 180px;
    }

    .text-center {
        width: 143px;
    }


}

@media screen and (max-width: 812px) {
    .search {
        margin: 0 0 0 37vw;
    }

    .slider img {
        height: 27vh;
    }

    .product-view {
        flex-direction: column;
    }

    .product-img img {
        width: 34rem;
        height: 37rem;
    }

    .product-details {
        gap: 19px;
        margin: 32px 14px 0 23px;
    }

    .left-slider-wrapper {
        padding: 19px 16px 30px 30px;
    }

    .card {
        margin-top: -86vh;
    }

    .card-item {
        margin: 14px auto;
    }

    .card-item img {
        width: 160px;
        height: 180px;
    }

    .text-center {
        width: 143px;
    }

}

@media screen and (max-width: 768px) {
    .left-slider-wrapper {
        display: none;
    }

    .card {
        margin: 0 19px 0 19px;
    }

    .card-item {
        margin: 14px auto;
    }

    .card-item img {
        width: 160px;
        height: 180px;
    }

    .text-center {
        width: 143px;
    }
}

@media screen and (max-width: 601px) {
    .search {
        margin: 0 0 0 28vw;
    }

    .slider img {
        height: 25vh;
    }

    .product-view {
        flex-direction: column;
    }

    .product-img img {
        width: 27rem;
        height: 30rem;
    }

    .product-details {
        gap: 19px;
        margin: 32px 14px 0 23px;
    }

    .product-details h1 {
        font-size: 2rem;
        color: #222;
    }

    .card-item {
        margin: 14px auto;
    }

    .card-item img {
        width: 146px;
        height: 166px;
    }

    .text-center {
        width: 130px;
    }

}

@media screen and (max-width: 500px) {
    .search {
        margin: 0 0 0 18vw;
    }

    .slider img {
        height: 25vh;
    }

    .product-img img {
        width: 25rem;
        height: 30rem;
    }

    .product-details {
        gap: 19px;
        margin: 32px 14px 0 23px;
    }

    .product-details h1 {
        font-size: 2rem;
        color: #222;
    }

    .card-item {
        margin: 14px auto;
    }

    .card-item img {
        width: 156px;
        height: 176px;
    }

    .text-center {
        width: 140px;
    }

}

@media screen and (max-width: 440px) {
    .search {
        margin: 0 0 0 18vw;
    }

    .slider img {
        height: 27vh;
    }

    .product-img img {
        width: 21.5rem;
        height: 25rem;
    }

    .product-details {
        gap: 19px;
        margin: 32px 14px 0 23px;
    }

    .product-details h1 {
        font-size: 2rem;
        color: #222;
    }

    .card-item {
        margin: 14px auto;
    }

    .card-item img {
        width: 160px;
        height: 180px;
    }

    .text-center {
        width: 143px;
    }
}

@media screen and (max-width: 414px) {
    .search {
        margin: 0 0 0 18vw;
    }

    .slider img {
        height: 27vh;
    }

    .product-img img {
        width: 21.5rem;
        height: 25rem;
    }

    .product-details {
        gap: 19px;
        margin: 32px 14px 0 23px;
    }

    .product-details h1 {
        font-size: 2rem;
        color: #222;
    }

    .card-item {
        margin: 14px auto;
    }

    .card-item img {
        width: 150px;
        height: 170px;
    }

    .text-center {
        width: 134px;
    }

}

@media screen and (max-width: 393px) {
    .search {
        margin: 0 0 0 7vw;
    }

    .product-img img {
        width: 20.3rem;
        height: 23rem;
    }

    .product-details {
        gap: 19px;
        margin: 32px 14px 0 23px;
    }

    .product-details h1 {
        font-size: 2rem;
        color: #222;
    }

    .card-item {
        margin: 14px auto;
    }

    .card-item img {
        width: 150px;
        height: 170px;
    }

    .text-center {
        width: 134px;
    }

}

@media screen and (max-width: 360px) {
    .search {
        margin: 0 0 0 7vw;
    }

    .product-img img {
        width: 20.3rem;
        height: 23rem;
    }

    .product-details {
        gap: 19px;
        margin: 32px 14px 0 23px;
    }

    .product-details h1 {
        font-size: 2rem;
        color: #222;
    }

    .card-item {
        margin: 14px auto;
    }

    .card-item img {
        width: 145px;
        height: 165px;
    }

    .text-center {
        width: 130px;
    }

}