@media screen and (max-width: 1920px) {
    .search {
        margin: 0 27vw;
    }

    .cart {
        margin: 0 -10px 0 0;
    }

}

@media screen and (max-width: 1670px) {
    .search {
        margin: 0 26vw;
    }

    .cart {
        margin: 0 -1px 0 0;
    }

}

@media screen and (max-width: 1280px) {
    .search {
        margin: 0 25vw;
    }

}

@media screen and (max-width: 1080px) {
    .search {
        margin: 0 23vw;
    }

}

@media screen and (max-width: 860px) {
    .search {
        margin: 0 19vw;
    }

}

@media screen and (max-width: 768px) {
    .search {
        margin: 0 19vw;
    }

}

@media screen and (max-width: 680px) {
    .search {
        margin: 0 16vw;
    }

}

@media screen and (max-width: 601px) {
    .search {
        margin: 0 12vw;
    }

}

@media screen and (max-width: 500px) {
    .search {
        margin: 0 35px;
    }

}

@media screen and (max-width: 450px) {
    .search {
        margin: 0 30px;
    }

    .cart {
        margin: 0 -1px 0 0;
    }

    .cart img {
    width: 32px;
    }

    .menu img {
        width: 32px;
    }

}

@media screen and (max-width: 419px) {
    .search {
        margin: 0 14px 0 21px;
    }

    .cart {
        margin: 0 -1px 0 0;
    }

    .logo img {
        height: 18px;
    }

}

@media screen and (max-width: 390px) {
    .search {
        margin: 0 10px 0 10px;
    }

    .cart {
        margin: 0 -1px 0 0;
    }

}

@media screen and (max-width: 375px) {
    .search {
        margin: 0 10px 0 5px;
    }

    .cart {
        margin: 0;
    }

    .logo img {
        height: 14px;
    }

}

@media screen and (max-width: 360px) {
    .cart {
        margin: 0 -5px 0 0;
    }

}