@media screen and (max-width: 871px) {
    .slider {
        margin: 3vh 5vw;
    }

    .slider img {
        height: 27vh;
    }

    .details h2 {
        margin: 2vw 0 0.5vw 9vw;
    }

    .details p {
        margin: 0 9vw;
    }

}

@media screen and (max-width: 671px) {
    .search {
        margin: 0 0 0 150px;
    }

    .slider img {
        height: 25vh;
    }

    .details h2 {
        margin: 2vw 0 0.5vw 9vw;
    }

    .details p {
        margin: 0 9vw;
    }

}

@media screen and (max-width: 500px) {
    .search {
        margin: 0 0 0 110px;
    }

    .slider img {
        height: 23vh;
    }

    .social-icons img {
        height: 3vh;
        margin: 0.1vh 3.5vw;
    }

    .details h2 {
        margin: 2vw 0 0.5vw 9vw;
    }

    .details p {
        margin: 0 9vw;
    }

}

@media screen and (max-width: 450px) {
    .search {
        margin: 0 0 0 80px;
    }

    .logo img {
        height: 16px;
    }

    .slider img {
        height: 23vh;
    }

    .social-icons img {
        height: 3vh;
        margin: 0.1vh 3.5vw;
    }

    .details h2 {
        margin: 2vw 0 0.5vw 9vw;
    }

    .details p {
        margin: 0 9vw;
    }

}

@media screen and (max-width: 400px) {
    .search {
        margin: 0 0 0 70px;
    }

    .social-icons img {
        height: 3vh;
        margin: 0.1vh 3.5vw;
    }

    .details h2 {
        margin: 2vw 0 0.5vw 9vw;
    }

    .details p {
        margin: 0 9vw;
    }

}

@media screen and (max-width: 390px) {
    .slider img {
        height: 23vh;
    }

    .social-icons img {
        height: 3vh;
        margin: 0.1vh 3.5vw;
    }

    .details h2 {
        margin: 2vw 0 0.5vw 9vw;
    }

    .details p {
        margin: 0 9vw;
    }

}