@media screen and (max-width: 871px) {
    .search {
        margin: 0 0 0 37vw;
    }

    .slider {
        margin: 3vh 5vw;
    }

    .slider img {
        height: 27vh;
    }

}

@media screen and (max-width: 671px) {
    .search {
        margin: 0 0 0 28vw;
    }

    .slider img {
        height: 25vh;
    }

}

@media screen and (max-width: 500px) {
    .search {
        margin: 0 0 0 18vw;
    }

    .slider img {
        height: 23vh;
    }

}

@media screen and (max-width: 450px) {
    .search {
        margin: 0 0 0 18vw;
    }

    .slider img {
        height: 23vh;
    }

}

@media screen and (max-width: 400px) {
    .search {
        margin: 0 0 0 18vw;
    }

    .slider img {
        height: 23vh;
    }

}

@media screen and (max-width: 390px) {
    .search {
        margin: 0 0 0 7vw;
    }

    .slider img {
        height: 23vh;
    }

}