.flex-all-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 12px;
    background-color: white;
    color: black;
    cursor: pointer;
}

.my-1{
    margin: 5px 0;
}

.my-2{
    margin: 23px 0;
}

.text-center{
    text-align: left;
    margin: 5px 5px;
}