@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

:root {
    --main-bg-color: #06f;
}

* {
    padding: 0;
    margin: 0;
}

body {
    overflow: hidden;
    overflow-y: scroll;
}

.container {
    min-height: calc(100vh - 47vh);
}

.product-view {
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    background: #ffffff;
    padding: 30px 0 30px 0;
    border-radius: 15px;
}

.product-img-to-button {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 37px;
}

.stoping{
    position: sticky;
    top: 14vh;
}

.product-img img {
    width: 28rem;
    height: 32rem;
    border-radius: 12px;
    object-fit: cover;
}

.button {
    display: flex;
    gap: 19px;
    justify-content: center;
    margin: 23px 0;
}

.button button {
    background-color: #06f;
    color: white;
    padding: 10px 23px;
    border-radius: 30px;
    border: 2px solid rgb(255, 255, 255);
    font-size: 19px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button button:hover {
    background-color: #ffffff;
    color: #06f;
    border: 2px solid #06f;
    border-color: #06f;
}

.product-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 19px;
    margin: 0 50px 0 -30px;
}

.product-details h1 {
    font-size: 2.5rem;
    color: #222;
}

.price,
.before-price {
    display: inline-block;
    margin-right: 10px;
}

.price {
    font-size: 1.5rem;
    color: #00a11b;
    font-weight: bold;
}

.before-price {
    font-size: 2rem;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-decoration: line-through;
    text-decoration-thickness: 5px;
    text-decoration-color: rgb(255, 0, 0);
}

.description {
    margin: -30px 0 0 0;
}

.product-about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 9px 28vw 9px 0;
    font-size: 15px;
    color: #333;
}

.a{
    font-weight: bold;
    margin-right: 70px;
}

h3 {
    font-size: 23px;
    margin: -19px 0 0 0;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

ul li {
    font-size: 18px;
    margin-bottom: 12px;
    line-height: 1.3;
}

footer {
    display: inline-flex;
    flex-direction: column;
}

.to-details {
    background-color: rgb(0, 70, 175);
    width: 100%;
    height: 37vh;
    text-align: center;
}

.flex-all-center h2 {
    color: rgb(194, 194, 194);
    font-family: "Lora", serif;
    text-decoration: underline;
}

.social-icons img {
    height: 30px;
    margin: 0.1vh 2vw;
    cursor: pointer;
}

.details h2 {
    color: white;
    font-family: "Lora", serif;
    text-decoration: none;
    margin: 2vw 0 0.5vw 14vw;
    text-align: start;
}

.details p {
    color: rgb(184, 184, 184);
    font-family: "Lora", serif;
    font-size: 16px;
    margin: 0 14vw;
    text-align: start;
}

.copyright {
    width: 100%;
    height: 10vh;
    background-color: rgb(0, 56, 141);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lora", serif;
}