<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/view_product.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/utility.css">
    <link rel="stylesheet" href="../css/view_product_responsive.css">
    <link rel="stylesheet" href="../css/nav_responsive.css">
    <title>Phone, Tablet, Laptop, Accessories, Computers</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/rating.css">
</head>

<body>
    <header>
        <nav>
            <div class="logo">
                <a href="https://kousikbiswas.com/" target="_blank"><img src="../img/logo/krishna.png" alt=""></a>
            </div>
            <div class="search">
                <input type="text" name="search" id="search" placeholder="Search...">
                <button class="btn">Search</button>
            </div>
            <div class="cart">
                <a href="#"><img src="../img/logo/cart (9).png" alt="cart"></a>
            </div>
            <div class="menu">
                <a href="#"><img src="../img/logo/menu.png" alt="menu"></a>
            </div>
            <!-- <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="shop.html">Shop</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul> -->
        </nav>
    </header>

    <main>
        <div class="container">
            <div class="product-view">
                <div class="product-img-to-button">
                    <div class="stoping">
                        <div class="product-img">
                            <img src="../img/item/photo (15).jpg" alt="product image">
                        </div>
                        <div class="button">
                            <button>Add to Cart</button>
                            <button>Buy Now</button>
                        </div>
                    </div>
                </div>
                <div class="product-details">
                    <h1>Wireless Headphones</h1>
                    <div class="rating-css">
                        <div class="star-icon">
                            <input type="radio" name="rating1" id="rating1">
                            <label for="rating1" class="fa-solid fa-star"></label>
                            <input type="radio" name="rating1" id="rating2">
                            <label for="rating2" class="fa-solid fa-star"></label>
                            <input type="radio" name="rating1" id="rating3">
                            <label for="rating3" class="fa-solid fa-star"></label>
                            <input type="radio" name="rating1" id="rating4">
                            <label for="rating4" class="fa-solid fa-star"></label>
                            <input type="radio" name="rating1" id="rating5">
                            <label for="rating5" class="fa-solid fa-star"></label>
                        </div>
                    </div>
                    <div class="only-price">
                        <p class="price">₹ 99.99</p>
                        <p class="before-price">₹ 555</p>
                    </div>
                    <hr>
                    <div class="description">
                        <div class="product-about">
                            <span class="a">Brand</span>
                            <span> RiaTech</span>
                        </div>

                        <div class="product-about">
                            <span class="a">Colour</span>
                            <span>Black</span>
                        </div>

                        <div class="product-about">
                            <span class="a">Special Feature</span>
                            <span>Anti skid</span>
                        </div>

                        <div class="product-about">
                            <span class="a">Recommended Uses For Product</span>
                            <span>Gaming</span>
                        </div>

                        <div class="product-about">
                            <span class="a">Material</span>
                            <span>Polyester, Rubber</span>
                        </div>
                    </div>
                    <hr>

                    <h3>About this item</h3>

                    <ul>
                        <li><b>Large Size :</b> 900 x 400 mm x 2 mm thickness: The mouse pad is large enough for your
                            mouse, keyboard
                            and more. Whether you want to play games or just looking to improve your productivity,
                            extended mouse
                            pad can help you control your PC better and protect your desk.</li>
                        <li><b>Shortcut key mouse pad :</b> The frontal patterns are all shortcuts about
                            (word/excel/power point ),
                            which can provide convenience for our daily work. The keyboard and mouse can be placed
                            on the mouse pad
                            to minimize friction with the table and protect your table.</li>
                        <li><b>Environmentally Material :</b> The top smooth surface of the mousepads are made of
                            durable
                            heat-resistant polyester fabric, allowing more accurate and faster mouse movement,
                            providing you with
                            maximum comfort using experience. The bottom base is made of anti-skip rubber,
                            preventing the mouse from
                            sliding and moving.</li>
                        <li><b>Environmentally Material :</b> The top smooth surface of the mousepads are made of
                            durable
                            heat-resistant polyester fabric, allowing more accurate and faster mouse movement,
                            providing you with
                            maximum comfort using experience. The bottom base is made of anti-skip rubber,
                            preventing the mouse from
                            sliding and moving.</li>
                        <li><b>Environmentally Material :</b> The top smooth surface of the mousepads are made of
                            durable
                            heat-resistant polyester fabric, allowing more accurate and faster mouse movement,
                            providing you with
                            maximum comfort using experience. The bottom base is made of anti-skip rubber,
                            preventing the mouse from
                            sliding and moving.</li>
                        <li><b>Environmentally Material :</b> The top smooth surface of the mousepads are made of
                            durable
                            heat-resistant polyester fabric, allowing more accurate and faster mouse movement,
                            providing you with
                            maximum comfort using experience. The bottom base is made of anti-skip rubber,
                            preventing the mouse from
                            sliding and moving.</li>
                        <li><b>Environmentally Material :</b> The top smooth surface of the mousepads are made of
                            durable
                            heat-resistant polyester fabric, allowing more accurate and faster mouse movement,
                            providing you with
                            maximum comfort using experience. The bottom base is made of anti-skip rubber,
                            preventing the mouse from
                            sliding and moving.</li>
                        <li><b>Environmentally Material :</b> The top smooth surface of the mousepads are made of
                            durable
                            heat-resistant polyester fabric, allowing more accurate and faster mouse movement,
                            providing you with
                            maximum comfort using experience. The bottom base is made of anti-skip rubber,
                            preventing the mouse from
                            sliding and moving.</li>
                        <li><b>Environmentally Material :</b> The top smooth surface of the mousepads are made of
                            durable
                            heat-resistant polyester fabric, allowing more accurate and faster mouse movement,
                            providing you with
                            maximum comfort using experience. The bottom base is made of anti-skip rubber,
                            preventing the mouse from
                            sliding and moving.</li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
    </main>

    <footer class="flex-all-center">
        <div class="to-details">
            <h2 class="my-4">Follow Us</h2>
            <div class="social-icons">
                <a href="https://www.facebook.com" target="_blank"><img src="../img/logo/footer/facebook.png"
                        alt="facebook"></a>
                <a href="#"><img src="../img/logo/footer/instagram.png" alt="instagram"></a>
                <a href="#"><img src="../img/logo/footer/whatsapp.png" alt="whatsapp"></a>
                <a href="#"><img src="../img/logo/footer/youtube.png" alt="youtube"></a>
                <a href="#"><img src="../img/logo/footer/gmail.png" alt="email"></a>
            </div>
            <div class="details">
                <h2 class="my-4">Text About Us :</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam sunt culpa adipisci distinctio
                    consequatur, inventore nostrum optio sapiente dolorem quas impedit modi magnam rem nulla ipsa at
                    voluptates aperiam necessitatibus reiciendis ut!</p>
            </div>
        </div>
        <div class="copyright">
            <p>Copyright &copy; 2025 cart.com</p>
        </div>
    </footer>

</body>

</html>